﻿@model IEnumerable<csharp4_lesson12.Models.Applicant>
@{
    ViewBag.Title = "Applicants List";
}

<h2>Applicants</h2>
@using (Html.BeginForm("Search", "Applicant", FormMethod.Post)) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("query", null, new { placeholder = "Search" })

        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("SearchByFirstName", "Applicant", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("fn", null, new { placeholder = "First Name Search" })

        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("SearchByMiddleName", "Applicant", FormMethod.Post)) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("mid", null, new { placeholder = "Middle Name Search" })

        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("SearchByLastName", "Applicant", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("ln", null, new { placeholder = "Last Name Search" })

        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("SearchByProfession", "Applicant", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.TextBox("pro", null, new { placeholder = "Profession Search" })

        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

<p>@Html.ActionLink("Create","Create","Applicant")</p>
<table>
<tr>
    <th>@Html.DisplayNameFor(model=>model.FirstName)</th>
    <th>@Html.DisplayNameFor(model=>model.MiddleName)</th>
    <th>@Html.DisplayNameFor(model=>model.LastName)</th>
    <th>@Html.DisplayNameFor(model=>model.age)</th>
    <th>@Html.DisplayNameFor(model=>model.Profession)</th>
</tr>

@foreach (var x in Model)
{
    <tr> 
        <td>@Html.DisplayFor(model => x.FirstName)</td>
        <td>@Html.DisplayFor(model => x.LastName)</td>
        <td>@Html.DisplayFor(model => x.LastName)</td>
        <td>@Html.DisplayFor(model => x.age)</td>
        <td>@Html.DisplayFor(model => x.Profession)</td>
    </tr>
}
</table>
