﻿@model IEnumerable<csharp4_lesson12.Models.Applicant>
@{
    ViewBag.Title = "Order By Last Name";
}

<table>
<tr>
    <th>@Html.DisplayNameFor(model=>model.FirstName)</th>
    <th>@Html.DisplayNameFor(model=>model.MiddleName)</th>
    <th>@Html.DisplayNameFor(model=>model.LastName)</th>
    <th>@Html.DisplayNameFor(model=>model.age)</th>
    <th>@Html.DisplayNameFor(model=>model.Profession)</th>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.DisplayFor(model =>x.FirstName)</td>
        <td>@Html.DisplayFor(model =>x.MiddleName)</td>
        <td class='highlight'>@Html.DisplayFor(model =>x.LastName)</td>
        <td>@Html.DisplayFor(model =>x.age)</td>
        <td>@Html.DisplayFor(model =>x.Profession)</td>
    </tr>
}

</table>